* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    font: 400 16px/1.5em sans-serif;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

table {
    width: 100%;
}

.map {
    height: 100vh;
}

.map img {
    max-width: none;
}

.container {
    width: 95%;
    max-width: 960px;
    margin: 0 auto;
}

.btn-wrapper {
    position: absolute;
    top: 16px;
    left: 16px;
}

.btn {
    display: inline-block;
    padding: 8px 16px;
    border: solid 1px transparent;
    vertical-align: middle;
    text-transform: uppercase;
    color: #fff;
    background: #496EBA;
}

.btn[disabled] {
    color: #ddd;
    background: #3E5DA0;
    cursor: not-allowed;
}

.indicator {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 8px;
    margin: 0;
    font-weight: 700;
    text-align: center;
    color: #fff;
    background: #DF9123;
    -webkit-transition: all .5s ease, display 0 ease .7s;
            transition: all .5s ease, display 0 ease .7s;
    -webkit-transform: translate(0,0);
        -ms-transform: translate(0,0);
            transform: translate(0,0);
}

.indicator--success {
    background: #4BCC3C;
}

.indicator--hidden {
    opacity: 0;
    display: none;
}

/* Utility class */

.cf:after {
    display: table;
    clear: both;
    content: '';
}

.sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
